* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  color: var(--colorfont)
}

:root {
  --width-max: 1080px;
  --colorbackground: #fafafa;
  --colorfont: rgb(72, 72, 72);
  --colorfontcontraste: #fff
  --bordershadowfino: 4px 4px 15px 2px rgba(0, 0, 0, 0.85) !important ;
  --bordershadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
  --fontminuscula: 0.7em
  --fontpequena: 0.85em;
  --fontnormal: 1em;
  --fontgrande: 1.2em;
  --fontgigante: 1.4em;
  --background-button: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  ) !important;

}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--fontnormal);
  color: var(--colorfont);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--colorfont);
  font-size: var(--fontnormal);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoMenus {
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 100px;
  object-fit: cover;
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menus a {
  padding: 0px 10px;
}

.button {
  display: flex;
  flex-direction: row;
  border: 1 #fff;
  box-shadow: var(--bordershadow);
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.imgperfil {
  width: 30px;
  border-radius: 50%;
  object-fit: contain;
  padding: 10px;
}

.menusecundario {
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menusecundario ul {
  display: flex;
  flex-direction: row;
}

.menusecundario ul li {
  padding: 0px 10px;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
}

.formdiv {
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: var(--bordershadow);
  border-radius: 20px;
}

.fieldform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: auto;
  border: 1px;
  height: 80px;
  margin: 5px;
}

.flex1 {
  flex-basis: 27%;
}

.flex2 {
  flex-basis: 15%;
}

.fieldform label {
  margin: 0px 0px 0px 10px;
  font-size: var(--fontminuscula);
}

.fieldform input {
  margin: 5px;
  font-size: var(--fontgigante);
  padding: 5px;
  height: 40px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.03) !important;
  border-radius: 10px;
  width: 98%;
}

.fieldform button {
  width: 100%;
  background-image: var(--background-button);
  height: 60%;
  border: 0px;
  border-radius: 10px;
  font-size: var(--fontgrande);
  color: #fff;
  background-size: 200% 200% !important;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaque{
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulos {
  font-size: var(--fontgigante);
  color: var(--colorfont);
  display: flex;
  font-weight: 600;
  padding: 25px;
}

.tituloscolor {
  font-size: 2.8em;
  color: #e31c5f;
  margin: 30px;
}

.tituloscolor p{

  color: var(--background-button);

}

.cardsdestaque {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.carddestaque {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  border-radius: 10px;
  flex-basis: 24%;
  box-shadow : var(--bordershadow);
  margin-top: 20px;
  min-height: 335px;
  

}

.carddestaque:hover {
  box-shadow : 0px 4px 8px rgba(255, 189, 250, 0.55) !important ;
}

@media(max-width: 992px){
  .carddestaque {

    flex-basis: 32%;
    
  }
}

@media(max-width: 600px){
  .carddestaque {

    flex-basis: 49%;
    
  }
}

.imgdestaque img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 192px;

}

.titulodestaque {
  font-size: var(--fontgrande);
  font-weight: 600;
  margin: 10px;
}

.categoria{
  font-size: var(--fontminuscula);
  font-weight: 600;
  margin: 0px 10px;

}

.textodestaque {
  width: 97%;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.textodestaque span{
  font-size: var(--fontpequena);
  font-weight: 300;
  margin: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 15px;
  background-image: var(--background-button);
  display: inline-block;
  width: 50px;
  color: var(--colorbackground)


}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: var(--bordershadowfino);
  background-color: var(--colorbackground);
  margin-top: 20px;
  padding: 20px 0px;

}

.rowsfooter {
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgfooter {
  width: 70px;
  object-fit: cover;
}

/** Pagina detail.html **/

.headersec {
  width: 100%;
  max-height: 50vh;
  display: flex !important;
  flex-direction: row;
  overflow: hidden;
  transition: 0.5s;
}

.headersec:hover {
  opacity: 0.8;
}

.header50{
  width: 50% !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  border: solid 1px #000;

}

.header25{
  width: 25% !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
}



.bloco {
  height: 50%;
  width: 100%;
  border: solid 2px #000;
  overflow: hidden;
}

.imgheadersec img{
  object-fit: cover;
  width: 100%;

}

.imgheadersec img:hover{
  transition: 0.5s;
  opacity: none;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}



.corpodetail {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colunasdetail {
  width: 100%;
  max-width: var(--width-max);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.colunamaior {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 63%;

}

.headercoluna{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.tituloheader {
  font-size: 1.8em;
  font-weight: 700;
  margin: 20px 0px;
}

.avatar {
  margin: 20px 0px;
}

.avatar img{
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar span{
  font-size: var(--fontpequena);
  font-weight: 300;
  color: var(--colorfont)
}

.linkscoluna {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkscoluna li{
  display: inline;
  margin: 10px;
  font-size: var(--fontgrande);
}

.linkscoluna li:first-child{
  margin-left: 0;
}

.linkscoluna hr {
  margin: 15px 0;
}

.conteudo p{
  font-size: var(--fontnormal);
  font-weight: 700;
  margin-top: 10px;
}

.conteudo span{
  font-size: var(--fontpequena);
  font-weight: 300;
  margin: 10px;
}

.colunamenor {
  display: flex;
  width: 100%;
  flex-basis: 35%;
  background-color: cornflowerblue;

}